    <!-- <footer>------------------------------- -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Della+Respira&family=Redressed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/footer.css">

    <footer class="site-footer bg-dark py-4">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10 mt-5">
            <h3 class="display-5 text-light aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">Cod<strong
                class="display-5 text-primary">@</strong> Team <h3 style="font-size: 37px; color: gray;"><strong
                  class="text-primary">H</strong>ire <strong class="text-primary">H</strong>ub</h3>
            </h3>
          </div>

          <div class="col-lg-4 col-md-6 col-12 aos-init" data-aos="fade-up" data-aos-delay="200">
            <h3 class="my-4 text-light">Contact Info</h3>

            <p class="mb-1 text-primary">
              <ion-icon name="call"></ion-icon>
              +972 592 879 259
            </p>

            <p>
              <a href="#">
                <ion-icon name="mail"></ion-icon>
                codeAt@gmail.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12 aos-init" data-aos="fade-up" data-aos-delay="300">
            <h3 class="my-4 text-light">Our Adresses</h3>

            <p class="mb-1 text-muted">
              <ion-icon name="home"></ion-icon>
              Dair Algosoon - Talooza - zeta - kofor Labad, Tulkarm - West Bank, PALESTINE
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12 aos-init" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text text-light">Copyright © 2021 Hire Hub
              <br>
              Design : <a rel="nofollow noopener" href="#"> Cod@ Team</a></p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12 aos-init" data-aos="fade-up" data-aos-delay="500">

            <ul class="footer-link">
              <li><a href="#">Stories</a></li>
              <li><a href="#">Work with us</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12 aos-init" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <a href="#" class="">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
              <a href="#" class="">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
              <a href="https://www.facebook.com/profile.php?id=100005531112600  " class="">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
              <a href="#" class="">
                <ion-icon name="logo-github"></ion-icon>
              </a>
            </ul>
          </div>

        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>