<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/login.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  

<h1 class="mb-5 text-center">Register</h1>
<div class="login_container container shadow-lg bg-light p-5 pt-3 rounded" data-aos="fade-right"  data-aos-delay="50">
    <div class="row justify-content-center">
        <div class="col-2 align-self-center">
            <div class="text-muted">
                
                <h6>Company</h6> 
            </div>
            <a href="/company/register" id="btn-toggle" class="btn btn-outline-success col-1 align-items-center mr-3 pt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </a>
        </div>
        <div class="col-1"></div>
        
                <div class="col-7">
                    <h3 class="text-center text-muted mb-4">Developers</h3>
                    <form action="/user/register" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="fullName">Full Name</label>
                            <input class="form-control" type="text" id="fullName" name="fullName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        
                        <h5 class="card-subtitle mt-5 text-muted">Your Profile</h5>
                        <hr>
                        <div class="form-floating mb-4  py-2">
                            <label for="profession">Profession</label>
                            <textarea class="form-control mb-3" placeholder="" id="profession" name="profession" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <label for="skills">Skills(
                                <small class="text-muted">Separate your options with a
                                comma
                                </small>
                                )
                            </label>
                            <textarea class="form-control mb-3" placeholder="" id="skills" name="skill" required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="phone">Phone</label>
                                <input class="form-control" type="text" id="phone" name="phone" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3 mt-2">
                                <label class="form-label" for="image">Profile Image</label>
                                <input class="form-control" type="file" name="image" id="image" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        

                        <button class="btn btn-outline-success btn-block">Register</button>
                    </form>          
            </div>
        <div class="col-2"></div>
        
    </div>
    
</div>